@media only screen and (max-width: 1599px) {

}
@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1199px) {
    .site-branding{
        display: none;
    }
    .list-service .item .right-service {
        width: 100%;
    }
    .about-us-home .content .right-col {
        width: 100%;
    }
    .about-us-home .content .left-col {
        width: 100%;
    }
    .left-ft-top {
        font-size: 28px;
    }
    .about-us-home .right-col{
        padding: 50px;
    }
    .content-slide-home .title, .content-slide-home .sub-title{
        font-size: 48px;
    }
    .link-to-room{
        gap: 15px;
    }
    .link-to-room a{
        font-size: 14px;
    }
    .link-to-room a:nth-child(2){
        padding: 10px;
    }
    .content-room-booking .system-room > .row{
        flex-direction: column;
    }
    .content-room-booking .item-bk{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .content-slide-home .title, .content-slide-home .sub-title{
        font-size: 28px;
        line-height: 28px;
    }
    .system-hotel-link{
        font-size: 14px;
    }
    .content-slide-home .sub-title:after{
        top: -40px;
    }
    .custom-container{
        padding: 0 50px;
    }
    .list-service .item .img-service{
        width: 100%;
    }
    .left-ft-top {
        font-size: 24px;
    }
    .list-post-system .item .content .title-post{
        font-size: 22px;
    }
    #topbar .custom-container{
        white-space: nowrap;
        animation: marquee 15s linear infinite;
    }
    .left-topbar .item, .right-topbar .item{
        display: inline-block;
    }
    .left-topbar .icon, .right-topbar .icon{
        display: inline-block;
    }
    .left-topbar .icon img, .right-topbar .icon img{
        margin-bottom: 3px;
    }
    .left-topbar{
        padding-right: 50px;
    }
    .img-slider-bg{
        min-height: 600px;
    }
    .content-form-booking{
        width: 100%;
    }
    .content-checkout-booking{
        flex-direction: column;
    }
    .content-checkout-booking .left-content, .content-checkout-booking .right-content{
        width: 100%;
    }
    .content-contact > .custom-container{
        flex-direction: column;
    }
}
@media only screen and (max-width: 991px) {
    .about-us-home .content .right-col h5, .about-us-home .content .right-col h4{
        font-size: 28px;
        line-height: 28px;
    }
    .action-yellow-arr-right{
        font-size: 14px;
    }
    .list-post .item .content{
        padding: 15px;
    }
    .list-post .item .content .title-post{
        font-size: 16px;
        line-height: 1.5;
    }
    a.action-arrow-right-blue{
        font-size: 14px;
    }
    .content-footer-top{
        flex-direction: column;
        gap: 10px;
    }
    .content-footer-top .left-ft-top, .content-footer-top .right-ft-top{
        width: 100%;
        max-width: 100%;
    }
    .banner-footer-top{
        padding: 25px;
    }
    .right-footer-bottom img {
        margin-top: 0;
    }
    #head-main .left-menu, #head-main .right-menu{
        display: none;
    }
    .site-branding{
        display: block;
    }
    .icon-menu-mobile{
        display: block;
    }
    /*#masthead{*/
    /*    top: 45px;*/
    /*}*/
    .content-checkout-booking .info-bottom .item-left,
    .content-checkout-booking .info-bottom .item-right{
        width: 150px;
    }
}
@media only screen and (max-width: 800px) {
    .about-us-home .right-col{
        padding: 25px;
    }
    .content-service{
        padding: 15px;
    }
    .custom-container{
        padding: 0 20px;
    }
}

@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 767px) {
    .about-us-home .content{
        flex-direction: column;
    }
    .list-service .item{
        flex-direction: column;
    }
    .list-service .item .img-service img{
        width: 100%;
    }
    .footer-bottom .custom-container{
        flex-direction: column;
        gap: 32px;
    }
    .posts-experience .title h3{
        font-size: 38px;
        line-height: 46px;
        width: 100%;
        text-align: center;
    }
    .posts-experience .title .action-arrow-right-blue{
        display: none;
    }
    .img-slider-bg{
        min-height: 596px;
    }
    .form-booking-home{
        margin: 0;
    }
    .form-booking-home .form-booking{
        flex-direction: column;
        align-items: initial;
        gap: 24px;
    }
    .form-booking button.btn-submit{
        width: 100%;
        border-radius: 4px;
    }
    .content-form-booking{
        padding: 20px 0;
    }
    .form-booking button.btn-submit span{
        display: inline-block;
    }
    .content-template-booking .form-booking{
        flex-direction: column;
        gap: 24px;
        align-items: initial;
    }
    .booking-f{
        background-color: #fff;
        box-shadow: 0px 4px 8px 0px #00000014;
    }
    .item-room-booking{
        flex-direction: column;
    }
    .item-room-booking .ct-top{
        margin-bottom: 20px;
    }
    .content-template-booking{
        position: relative;
    }
    .item-sticky{
        position: sticky;
        bottom: 0;
        z-index: 9;
    }
    .admin-bar #masthead{
        top: 90px;
    }
}
@media only screen and (max-width: 575px) {
    .form-info-lh .col-3,
    .form-info-lh .col-9,
    .form-info-lh .col-6
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .list-icon-fixed{
        display: none;
    }
}
@media only screen and (max-width: 560px) {

}

@media only screen and (max-width: 500px) {
    .about-us-home .content .right-col h4{
        font-size: 40px;
        line-height: 40px;
    }
    .about-us-home .content .right-col h5{
        font-size: 38px;
        line-height: 46px;
    }
    .system-room .title{
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 32px;
    }
    .list-post-system .item .content .title-post{
        font-size: 28px;
    }
    .link-to-room a{
        font-size: 16px;
    }
    .service .title{
        font-size: 38px;
    }
    .list-service .item .right-service {
        width: 90%;
    }
    .list-service .item:nth-child(even) .img-service {
        order: 1;
    }
    .left-ft-top{
        font-size: 38px;
        line-height: 46px;
    }
    /*.template-home-custom .posts-experience .list-post{*/
    /*    display: none;*/
    /*}*/
    .list-post-mobile, .link-all-mobile{
        display: block;
    }
    /*.template-home-custom .posts-experience .list-post-mobile .list-post{*/
    /*    display: block;*/
    /*}*/
    .home .hide-mobile{
        display: none;
    }
    .list-post-mobile .post-list-mobile .item{
        padding: 0;
    }
    .content-slide-home .sub-title{
        font-size: 40px;
        line-height: 40px;
    }
    .content-slide-home .title{
        font-size: 42px;
        line-height: 52px;
    }
    .acc-bank .qr-code{
        flex-direction: column;
        align-items: initial;
    }
}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 320px) {

}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}