
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    color: #121212;
}
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
       font-size:80px;
       }
       
       .link_404{      
  color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
  .contant_box_404{ margin-top:-50px;}
a{
    color: #fff;
}
a:hover{
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #fff;
}
#topbar{
    height: 44px;
    background-color: #7E522B;
    color: #fff;
    display: flex;
    align-items: center;
}
.content-topbar{
    padding: 0 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-img-hotel .swiper-wrapper .swiper-slide img{
    width: 100%;
}
.content-template-booking .banner{
    min-height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.content-template-booking .banner h2{
    font-size: 64px;
    font-weight: 600;
    line-height: 74px;
    margin: 0;
    font-family: "Red Rose", serif;
    text-transform: uppercase;
}
.content-template-booking .banner h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.item-room-booking{
    display: flex;

}
.item-room-booking .img{
    width: 100%;
}
.item-room-booking .content{
    width: 100%;
}
.item-room-booking{
    width: 100%;
    gap: 24px;
}
.content-room-booking .list-post-system .item{
    margin-bottom: 40px;
}
.content-room-booking .list-post-system .item .content{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-room-booking .list-post-system .item .content .price{
    margin-bottom: 20px;
}
.book-now{
    background-color: #f5f5f5;
    padding: 24px;
    text-align: center;
}
.book-now .total-room{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}
.book-now .total-price{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}
.book-now .total-price p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.book-now .booking-n{
    background-color: #C19D68;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 12px 24px;
    font-weight: 700;
    width: 100%;
}
.booking-n:hover{
    background-color: #7E522B;
}
.header-init #masthead{
    position: initial;
    color: #353535;
}
.header-init .main-navigation ul.menu li a,
.header-init .site-branding .site-title a{
    color: #353535;
}
.back-checkout{
    color: #002D4A;
    text-transform: uppercase;
    font-weight: 700;
}
.back-checkout:visited{
    color: #002D4A;
}
.content-template-checkout-booking{
    background-color: #F2EFE7;
}
.header-init .footer-top{
    display: none;
}
.header-init .content-template-checkout-booking .custom-container{
    padding-top: 24px;
    padding-bottom: 160px;
}
.content-checkout-booking{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.content-checkout-booking .left-content{
    width: 45%;
    background-color: #fff;
    color: #353535;
    padding: 32px;
    border-radius: 4px;
}
.content-checkout-booking .right-content{
    width: 55%;
    background-color: #fff;
    color: #353535;
    padding: 32px;
    border-radius: 4px;
}
.content-checkout-booking .left-content .title{
    font-family: "Red Rose", serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 28px;
}
.list-room-booking .item{
    display: flex;
    gap: 20px;
}
.list-room-booking{
    margin-bottom: 28px;
}
.list-room-booking .item .thumbnail{
    width: 25%;
}
.list-room-booking .item .content-room{
    width: 75%;
}
.list-room-booking .item .content-room h5
{
    font-family: "Red Rose", serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #353535;
}
.content-room{
    font-family: "Red Rose", serif;
}
.content-room .price, .content-room .count{
    display: flex;
    justify-content: space-between;
}
.info-booking{
    margin-bottom: 28px;
}
.info-booking .item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 16px;
}
.info-bottom .item:first-child{
    margin-bottom: 28px;
}
.info-bottom .item{
    display: flex;
    justify-content: space-between;
}
.info-bottom .item .item-left p:nth-child(1){
    font-weight: 600;
    line-height: 26px;
    margin: 0;
}
.info-bottom .item .item-left p:nth-child(2){
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    font-size: 14px;
}
.info-bottom .item .total-mn{
    font-family: "Red Rose", serif;
    color: #7E522B;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}
.content-checkout-booking .right-content .title{
    font-family: "Red Rose", serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
}
.acc-bank{
    margin-bottom: 20px;
}
.acc-bank .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.acc-bank .qr-code img{
    width: 30%;
}
.acc-bank .qr-code .info-bank{
    width: 70%;
}
.info-prepayment .note{
    margin-bottom: 20px;
}
.info-prepayment .note h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.info-prepayment .note ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.info-prepayment .note ul li{
    padding-left: 25px;
    position: relative;
    font-weight: 400;
    color: #353535;
}
.info-prepayment .note ul li:after{
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #353535;
}
.booking-success{
    padding: 20px;
    color: #fff;
    background-color: #C19D68;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.booking-success .icon{
    width: 10%;
}
.booking-success .text{
    width: 90%;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.hotline-booking-success{

}
