
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    color: #121212;
}
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1{
    font-size:80px;
}

.four_zero_four_bg h3{
    font-size:80px;
}

.link_404{
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
.contant_box_404{ margin-top:-50px;}
.inner .description{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #353535;
    margin-bottom: 40px;
}
.inner .btn-contact{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    background: #C19D68;
    padding: 16px 24px;
}

a{
    color: #fff;
}
a:hover{
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #fff;
}
#topbar{
    height: 44px;
    background-color: #7E522B;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
    overflow: hidden;
}
#topbar a:hover{
    color: #fff;
}
.custom-container{
    padding: 0 72px;
    width: 100%;
}
.content-topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-topbar, .right-topbar{
    display: flex;
    align-items: center;
    gap: 30px;
}
.left-topbar .item, .right-topbar .item{
    display: flex;
    gap: 8px;
    align-items: center;
}
.left-topbar .icon, .right-topbar .icon{
    line-height: 0;
}
#masthead{
    position: absolute;
    top: 45px;
    z-index: 9;
    width: 100%;
}
#head-main{
    height: 112px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a:focus{
    outline: none!important;
}
#menu-main-left li.menu-item-has-children{
    position: relative;
    padding-right: 36px;
}
#menu-main-left li:hover ul.sub-menu{
    display: block;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 16px;
}
#menu-main-left li ul.sub-menu li{
    margin-bottom: 12px;
    padding-left: 36px;
}
#menu-main-left li ul.sub-menu li a{
    color: #353535;
    font-weight: 600;
    text-transform: initial;
    position: relative;
}
#menu-main-left li ul.sub-menu li a:after, #menu-main-left li ul.sub-menu li a:before{
    content: '';
    position: absolute;
    left: -35px;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("../icons/icon-room-2-black.svg");
}
#menu-main-left li ul.sub-menu li a:after{
    opacity: 1;
}
#menu-main-left li ul.sub-menu li a:before{
    opacity: 0;
    background-image: url("../icons/icon-room-2-y.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(2) a:after, #menu-main-left li ul.sub-menu li:nth-child(2) a:hover:after{
    background-image: url("../icons/icon-room-2-1-black.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(2) a:before, #menu-main-left li ul.sub-menu li:nth-child(2) a:hover:after{
    background-image: url("../icons/icon-room-2-1-y.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(3) a:after, #menu-main-left li ul.sub-menu li:nth-child(3) a:hover:after{
    background-image: url("../icons/icon-room-2-2-black.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(3) a:before, #menu-main-left li ul.sub-menu li:nth-child(3) a:hover:after{
    background-image: url("../icons/icon-room-2-2-y.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(4) a:after, #menu-main-left li ul.sub-menu li:nth-child(4) a:hover:after{
    background-image: url("../icons/icon-room-3-black.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(4) a:before, #menu-main-left li ul.sub-menu li:nth-child(4) a:hover:after{
    background-image: url("../icons/icon-room-3-y.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(5) a:after, #menu-main-left li ul.sub-menu li:nth-child(5) a:hover:after{
    background-image: url("../icons/icon-room-vip-black.svg");
}
#menu-main-left li ul.sub-menu li:nth-child(5) a:before, #menu-main-left li ul.sub-menu li:nth-child(5) a:hover:after{
    background-image: url("../icons/icon-room-vip-y.svg");
}
#menu-main-left li ul.sub-menu li a:hover:after{
    opacity: 0;
}
#menu-main-left li ul.sub-menu li a:hover:before{
    opacity: 1;
}
#menu-main-left li ul.sub-menu li a:hover{
    color: #C19D68;
}
#menu-main-left li ul.sub-menu li:last-child{
    margin-bottom: 0;
}
#menu-main-left li.menu-item-has-children:after{
    content: '';
    position: absolute;
    right: 17px;
    top: 8px;
    width: 10px;
    height: 6px;
    background-image: url(../icons/icon-arrow-bt-white.svg);
    background-size: cover;
}
#menu-main-left > li{
    padding-right: 20px;
}
#menu-main-left li:last-child{
    padding-right: 0;
}
#menu-main-right{
    display: flex;
    align-items: center;
}
#menu-main-right > li {
    padding-left: 20px;
}

#menu-main-right > li:last-child a:hover{
    background-color: #C19D68;
}
#menu-main-right li:first-child {
    padding-left: 0;
}
.main-navigation li a{
    text-transform: uppercase;
}
h1.site-title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}
#menu-main-right li:last-child a{
    border: 1px solid #fff;
    padding: 16px 24px 16px 56px;
    border-radius: 4px;
    position: relative;
}
#menu-main-right li:last-child a:after{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    left: 20px;
    top: 16px;
    background-image: url('../icons/icon-booking.svg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.footer-top{
    min-height: 396px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 160px;
}
.banner-footer-top{
    min-height: 172px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 38px 48px;
}
.banner-footer-top:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(91.01deg, rgba(193, 157, 104, 0.2) 0%, #7E522B 79.59%);
}
.footer-top .custom-container{
    padding-top: 64px;
}
.footer-bottom{
    background-color: #002D4A;
    padding-bottom: 30px;
}
.footer-bottom .custom-container{
    display: flex;
    justify-content: space-between;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 72px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: #C19D68;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 56px;
    height: 56px;
}
#back-to-top:after{
    content: '';
    position: absolute;
    top: 11px;
    left: 11px;
    width: 32px;
    height: 32px;
    background-image: url("../icons/icon-top-white.svg");
}

#back-to-top:hover {
    background-color: #7E522B;
}
.right-footer-bottom img{
    margin-top: -130px;
}
.site-footer, .site-footer a{
    color: #fff;
}
.title-footer{
    color: #C19D68;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: "Red Rose", serif;
}
.list-item-inf{
    margin-bottom: 32px;
}
.list-item-inf .item{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-footer img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.logo-footer{
    margin-top: -80px;
    margin-bottom: 42px;
}
.content-footer-top{
    position: relative;
    z-index: 1;
    width: 100%;
}
.left-ft-top{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}
.action-booking-now{
    background-color: #C19D68;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 24px 16px 56px;
    position: relative;
    border-radius: 4px;
    display: inline-block;
}
.action-booking-now:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 20px;
    top: 17px;
    background-image: url("../icons/icon-booking.svg");
    background-repeat: no-repeat;
}
.action-booking-now:hover{
    background-color: #7E522B;
}
.right-ft-top .action-booking-now{
    margin-bottom: 16px;
}
.site-branding .site-title img{
    /*border-radius: 50%;*/
    /*width: 28px;*/
    /*height: 28px;*/
}
.site-branding .site-title a{
    display: flex;
    align-items: center;
    gap: 16px;
}
.right-topbar .item-hotline{
    font-weight: 600;
}
.main-navigation ul.menu li a{
    font-weight: 600;
}
.main-navigation ul.menu li a:hover{
    color: #fff;
}
.left-ft-top{
    font-family: "Red Rose", serif;
}
.copy-right{
    font-size: 14px;
}
.service .title, #list-img-hotel .title{
    font-family: "Red Rose", serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
#list-img-hotel{
    padding: 64px 0;
}
.swiper-pagination-img-hotel{
    text-align: center;
    margin-top: 40px;
}
.swiper-pagination-img-hotel span{
    margin-right: 11px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DADADA;
}
.swiper-pagination-img-hotel span.swiper-pagination-bullet-active,
.swiper-pagination-img-hotel span:hover
{
    background-color: #C19D68;
}
.service{
    padding: 64px 0;
}
.service .title{
    text-align: center;
    font-family: "Red Rose", serif;
    font-weight: 500;
    font-size: 40px;
}
.list-service .item{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.list-service .item:last-child{
    margin-bottom: 0;
}
.list-service .item .right-service{
    width: 30%;
}
.content-service{
    padding: 48px;
    background-color: #F2EFE7;
}
.img-service img{
    border-radius: 4px;
}
.content-service h4{
    font-family: "Red Rose", serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;
}
.content-service .description{
    color: #353535;
    margin-bottom: 24px;
}
a.action-arrow-right-blue{
    color: #002D4A;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    font-size: 16px;
}
.action-arrow-right-blue:focus{
    outline: none;
    color: #002D4A;
}
.action-arrow-right-blue:after{
    content: '';
    position: absolute;
    right: -25px;
    top: 2px;
    width: 16px;
    height: 16px;
    background-image: url("../icons/arrow-right-black.svg");
    background-size: cover;
}
.action-arrow-right-blue:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 25px);
    height: 1px;
    background-color: #002D4A;
    opacity: 0;
}
.action-arrow-right-blue:hover::before{
    opacity: 1;
}
.list-service .item:nth-child(even){
    justify-content: end;
}
.list-service .item:nth-child(even) .img-service{
    order: 2;
}
.list-service .item:nth-child(even) .right-service{
    order: 1;
}
.home-slide .swiper-slide img{
    width: 100%;
    /*height: 100%;*/
    /*min-height: 780px;*/
}

.swiper-pagination-slide-home{
    text-align: center;
    margin-top: 0;
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.swiper-pagination-slide-home span{
    margin-right: 11px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DADADA;
}
.swiper-pagination-slide-home span.swiper-pagination-bullet-active,
.swiper-pagination-slide-home span:hover
{
    background-color: #C19D68;
}
.posts-experience{
    background-color: #F5F5F5;
    padding: 64px 0;
}
.posts-experience .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.posts-experience .title .action-arrow-right-blue{
    padding-right: 25px;
}
.posts-experience .title .action-arrow-right-blue:after{
    right: -0px;
    top: 3px;
}
.posts-experience .title .action-arrow-right-blue:before{
    width: 100%;
}
.posts-experience .title h3{
    font-size: 40px;
    font-weight: 500;
    font-family: "Red Rose", serif;
    color: #002D4A;
}
.list-post .item .img img{
    width: 100%;
}
.list-post .item .content{
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    padding: 24px;
}
.list-post .item .content .title-post{
    font-weight: 600;
    font-size: 18px;
    color: #353535;
    margin-bottom: 8px;
    line-height: 28px;
}
.list-post .item .content .description{
    font-size: 16px;
    color: #636363;
    line-height: 26px;
    margin-bottom: 16px;
    height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-post .row, .list-post-system .row{
    margin-right: -12px;
    margin-left: -12px;
}
.list-post .item, .list-post-system .item{
    padding-right: 12px;
    padding-left: 12px;
}
.system-room{
    padding: 64px 0 0 0;
}
.system-room .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: "Red Rose", serif;
    color: #002D4A;
    margin-bottom: 40px;
}
.list-post-system > .row{
    justify-content: center;
}
.list-post-system .item .img img{
    width: 100%;
    border-radius: 4px;

}
.list-post-system .item .content{
    padding-top: 16px;
}
.list-post-system .item .content .title-post{
    font-family: "Red Rose", serif;
    font-size: 28px;
    font-weight: 500;
    color: #121212;
    margin-bottom: 6px;
}
.list-post-system .item{
    margin-bottom: 64px;
}
.list-post-system .item .content .price{
    color: #7E522B;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 24px;
}
.option-room{
    display: flex;
    align-items: start;
    gap: 16px;
    color: #555555;
    margin-bottom: 24px;
}
.option-room .op{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.link-to-room a{
    color: #002D4A;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.link-to-room{
    display: flex;
    align-items: center;
    gap: 24px;
}
.link-to-room a:nth-child(2){
    padding: 16px 24px;
    border: 1.5px solid #002D4A;
    border-radius: 4px;
    display: flex;
    gap: 8px;
}
.link-to-room a:nth-child(2):hover{
    background-color: #002D4A;
    color: #fff;
}
.link-to-room a:nth-child(1):hover{
    border-bottom: 1px solid #002D4A;
}
.about-us-home{
    padding-bottom: 72px;
}
.about-us-home .content{
    display: flex;
}
.about-us-home .right-col{
    background-color: #F2EFE7;
    padding: 100px 86px;
}
.about-us-home .content .left-col{
    width: 40%;
}
.about-us-home .content .right-col{
    width: 60%;
}
.about-us-home .content .left-col img{
    width: 100%;
    height: 100%;
}
.about-us-home .content .right-col h4{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 8px;
    color: #7E522B;
}
.about-us-home .content .right-col h5{
    font-family: "Red Rose", serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #002D4A;
    margin-bottom: 24px;
}
.about-us-home .content .right-col .des{
    color: #353535;
    line-height: 26px;
    margin-bottom: 24px;
}
.action-yellow-arr-right{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #C19D68;
    padding: 16px 56px 16px 24px;
    font-weight: 700;
    border-radius: 4px;
    position: relative;
}
.action-yellow-arr-right:after{
    content: '';
    position: absolute;
    right: 20px;
    top: 13px;
    width: 24px;
    height: 24px;
    background-image: url("../icons/icon-right.svg");
}
.action-yellow-arr-right:hover{
    background-color: #7E522B;
    color: #fff;
}
.item-slide{
    position: relative;
}
.item-slide:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #33333361;
    top: 0;
    left: 0;
}
.item-slide .content-slide-home{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 9;
}
.content-slide-home .sub-title{
    font-family: "Great Vibes", cursive;
    font-size: 56px;
    line-height: 56px;
    color: #fff;
    margin-bottom: 8px;
    position: relative;
}
.content-slide-home .sub-title:after{
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 104px;
    height: 24px;
    background-image: url("../icons/icon-3stars.svg");
}
.content-slide-home .title{
    font-family: "Red Rose", serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 32px;
    color: #fff;
}
.system-hotel-link{
    background-color:  #C19D68;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    padding: 16px 24px 16px 56px;
    position: relative;
    font-weight: 700;
    display: inline-block;
}
.system-hotel-link:after{
    content: '';
    position: absolute;
    top: 15px;
    left: 26px;
    width: 24px;
    height: 24px;
    background-image: url("../icons/icon-dor.svg");
}
.system-hotel-link:hover{
    background-color: #7E522B;
    color: #fff;
}
.icon-menu-mobile{
    display: none;
    cursor: pointer;
}
.menu-responsive {
    background: #fff;
    right: -400px;
    height: 100%;
    position: fixed;
    width: 400px;
    z-index: 199999;
    top: 0;
    transition: all ease .5s;
    overflow-y: auto;
    padding: 24px 20px 0 40px;
}
.menu-responsive.show-mn{
    right: 0;
}
.icon-close-res-menu{
    text-align: right;
}
.icon-close-res-menu img{
    cursor: pointer;
}
.main-navigation-mobile ul.menu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-navigation-mobile {
    margin-top: 8px;
}
.main-navigation-mobile ul > li a{
    text-transform: uppercase;
    color: #353535;
    font-weight: 600;
}
.main-navigation-mobile ul > li{
    margin-bottom: 40px;
    position: relative;
}
.main-navigation-mobile ul > li:last-child{
    margin-bottom: 0;
}
.main-navigation-mobile ul.menu ul.sub-menu{
    padding: 14px 0 0 0;
    margin: 0;
    list-style: none;
}
.main-navigation-mobile ul.menu ul.sub-menu li a{
    text-transform: initial;
}
.main-navigation-mobile ul.menu ul.sub-menu li{
    margin-bottom: 14px;
}
.main-navigation-mobile ul.menu ul.sub-menu > li a{
    position: relative;
    padding-left: 36px;
}
.main-navigation-mobile ul.menu ul.sub-menu > li a:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("../icons/icon-bed.svg");
    background-repeat: no-repeat;
}
.main-navigation-mobile ul.menu ul.sub-menu > li:nth-child(2) a:after{
    background-image: url("../icons/icon-room-2-1-black.svg");
}
.main-navigation-mobile ul.menu ul.sub-menu > li:nth-child(3) a:after{
    background-image: url("../icons/icon-room-2-2-black.svg");
}
.main-navigation-mobile ul.menu ul.sub-menu > li:nth-child(4) a:after{
    background-image: url("../icons/icon-room-3-black.svg");
}
.main-navigation-mobile ul.menu ul.sub-menu > li:nth-child(4) a:after{
    background-image: url("../icons/icon-room-vip-black.svg");
}
#menu-mobile > li:last-child{
    display: block;
    padding: 12px 24px;
    border-radius: 4px;
    text-align: center;
    background-color: #C19D68;
}
#menu-mobile > li:last-child a{
    display: block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
}
#menu-mobile > li:last-child a:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 60px;
    top: 1px;
    background-image: url("../icons/icon-booking.svg");
    background-repeat: no-repeat;
}
.post-list-mobile .swiper-slide {
    width: 80%;
}
.link-all-mobile{
    margin-top: 38px;
}
.list-post-mobile, .link-all-mobile{
    display: none;
}
.img-slider-bg{
    min-height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-menu-toggle{
    position: absolute;
    top: 8px;
    right: 125px;
    width: 10px;
    height: 6px;
    background-image: url("../icons/icon-arrow-bt.svg");
    background-repeat: no-repeat;
}
.main-navigation-mobile ul > li.active ul.sub-menu{
    height: 0;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
    padding: 0;
}
.home-review{
    padding: 64px 0 0 0;
}
#list-img-hotel .swiper-wrapper .swiper-slide img{
    width: 100%;
}
.content-template-booking .banner{
    min-height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.content-template-booking .banner h2{
    font-size: 64px;
    font-weight: 600;
    line-height: 74px;
    margin: 0;
    font-family: "Red Rose", serif;
    text-transform: uppercase;
}
.content-template-booking .banner h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.item-room-booking{
    display: flex;

}
.item-room-booking .img{
    width: 100%;
}
.item-room-booking .content{
    width: 100%;
}
.item-room-booking{
    width: 100%;
    gap: 24px;
}
.content-room-booking .list-post-system .item{
    margin-bottom: 40px;
}
.content-room-booking .list-post-system .item .content{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-room-booking .list-post-system .item .content .price{
    margin-bottom: 20px;
}
.book-now{
    background-color: #f5f5f5;
    padding: 24px;
    text-align: center;
}
.book-now .total-room{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}
.book-now .total-price{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}
.book-now .total-price p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.book-now .booking-n{
    background-color: #C19D68;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 12px 24px;
    font-weight: 700;
    width: 100%;
}
.booking-n:hover{
    background-color: #7E522B;
}
.header-init #masthead{
    position: initial;
    color: #353535;
}
.header-init .main-navigation ul.menu li a,
.header-init .site-branding .site-title a{
    color: #353535;
}
.back-checkout{
    color: #002D4A;
    text-transform: uppercase;
    font-weight: 700;
}
.back-checkout:visited{
    color: #002D4A;
}
.content-template-checkout-booking{
    background-color: #F2EFE7;
}
.header-init .footer-top{
    display: none;
}
.header-init .content-template-checkout-booking .custom-container{
    padding-top: 24px;
    padding-bottom: 160px;
}
.content-checkout-booking{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.content-checkout-booking .left-content{
    width: 45%;
    background-color: #fff;
    color: #353535;
    padding: 32px;
    border-radius: 4px;
}
.content-checkout-booking .right-content{
    width: 55%;
    background-color: #fff;
    color: #353535;
    padding: 32px;
    border-radius: 4px;
}
.content-checkout-booking .left-content .title{
    font-family: "Red Rose", serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 28px;
}
.list-room-booking .item{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.list-room-booking{
    margin-bottom: 28px;
}
.list-room-booking .item .thumbnail{
    width: 25%;
}
.list-room-booking .item .content-room{
    width: 75%;
}
.list-room-booking .item .content-room h5
{
    font-family: "Red Rose", serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #353535;
}
.content-room{
    font-family: "Red Rose", serif;
}
.content-room .price, .content-room .count{
    display: flex;
    justify-content: space-between;
}
.info-booking{
    margin-bottom: 28px;
}
.info-booking .item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 16px;
}
.info-bottom .item:first-child{
    margin-bottom: 28px;
}
.info-bottom .item{
    display: flex;
    justify-content: space-between;
}
.info-bottom .item .item-left p:nth-child(1){
    font-weight: 600;
    line-height: 26px;
    margin: 0;
}
.info-bottom .item .item-left p:nth-child(2){
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    font-size: 14px;
}
.info-bottom .item .total-mn{
    font-family: "Red Rose", serif;
    color: #7E522B;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}
.content-checkout-booking .right-content .title{
    font-family: "Red Rose", serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
}
.acc-bank{
    margin-bottom: 20px;
}
.acc-bank .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.acc-bank .qr-code img{
    width: 30%;
}
.acc-bank .qr-code .info-bank{
    width: 70%;
}
.info-prepayment .note{
    margin-bottom: 20px;
}
.info-prepayment .note h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.info-prepayment .note ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.info-prepayment .note ul li{
    padding-left: 25px;
    position: relative;
    font-weight: 400;
    color: #353535;
}
.info-prepayment .note ul li:after{
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #353535;
}
.booking-success{
    padding: 20px;
    color: #fff;
    background-color: #C19D68;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.booking-success .icon{
    width: 48px;
}
.booking-success .text{
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.form-booking-home{
    margin-top: -180px;
    z-index: 9;
    position: relative;
    background-color: transparent;
    margin-bottom: 85px;
}
.content-form-booking{
    background-color: #fff;
    padding: 20px;
    border-radius: 48px;
    width: 826px;
    margin: 0 auto;
}
.form-booking{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-person{
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}
.select-person .icon{
    cursor: pointer;
}
.form-booking .date-range{
    display: flex;
    align-items: center;
}
.form-booking .date-range input, .form-booking .date-range input:focus-visible{
    border: none;
    outline: none;
}
.count-date{
    font-size: 18px;
    font-weight: 600;
    margin-left: 6px;
}
.form-booking button.btn-submit{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #C19D68;
}
.form-booking button.btn-submit img{
    margin-bottom: 3px;
}
.change-number-person{
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    background: #fff;
    border-radius: 8px;
    width: 300px;
    z-index: 99;
    border: 1px solid #ddd;
}
.change-number-person .list-item{
    padding: 20px 24px;
    border-bottom: 1px solid #ddd;
}
.change-number-person.active{
    display: block;
}
.change-number-person .btn-action{
    padding: 16px 24px;
}
.change-number-person .btn-action .submit-persion {
    display: block;
    border: 1px solid #002D4A;
    color: #002D4A;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    width: 100%;
}
.change-number-person .btn-action .submit-persion:hover{
    background-color: #002D4A;
    color: #fff;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.change-number-person .list-item .item{
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}
.change-number-person .list-item .item:last-child{
    margin-bottom: 0;
}
.change-number-person .list-item .item .item-left label{
    display: block;
    margin: 0;
    font-weight: 600;
}
.change-number-person .list-item .item .item-left span{
    font-weight: 400;
    font-size: 14px;
}
.input-group{
    display: flex;
}
.input-group button{
    padding: 0;
    background-color: transparent;
    border: none;
}
.input-group input{
    border: none;
    text-align: center;
    background-color: #fff;
}
.input-group input:focus-visible{
    outline: none;
}
.booking-f{
    background-color: #F2EFE7;
    padding: 32px 0;
}
.icon-date{
    margin-left: 12px;
    cursor: pointer;
}
.form-info-lh .item{
    margin-bottom: 16px;
}
.form-info-lh p{
    margin: 0;
}
.form-info-lh .item-lable label{
    font-weight: 600;
    line-height: 26px;
}
.form-info-lh .item-value select{
    appearance: none; /* Loại bỏ style mặc định */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    background-image: url('../icons/icon-arrow-bt.svg');
    background-position: right 25px center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.form-info-lh .item-value input{
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
}
.form-info-lh .item-value input:focus-visible,
.form-info-lh .item-value select:focus-visible,
.form-info-lh .item-value textarea:focus-visible{
    outline: none;
    border: 1px solid #C19D68;
}
.form-info-lh .item-value textarea{
    padding: 14px 20px;
}
.form-info-lh .item-call .item-value .wpcf7-list-item.first{
    margin-left: 0;
}
.form-info-lh .item-call .item-value .wpcf7-list-item.first label{
    display: flex;
    gap: 18px;
}
.form-info-lh .item-call .item-value .wpcf7-list-item.last{
    margin-left: 32px;
}
.form-info-lh .item-call .item-value .wpcf7-list-item.last label{
    display: flex;
    gap: 18px;
}
.form-info-lh .item-call .item-value .wpcf7-list-item.last label input{
    width: auto;
}

.form-info-lh .item-dk .item-value{
    background-color: #F5F5F5;
    padding: 20px 16px;
}
.form-info-lh .item-dk .item-value ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.form-info-lh .item-dk .item-value ul li{
    padding-left: 20px;
    position: relative;
    color: #353535;
    margin-bottom: 10px;
}
.form-info-lh .item-dk .item-value ul li:after{
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #353535;
    border-radius: 50%;
    left: 0;
    top: 10px;
}
.form-info-lh .item-read{
    margin-bottom: 20px;
}
.form-info-lh .item-read .wpcf7-list-item{
    margin-left: 0;
    margin-right: 8px;
}
.form-info-lh .item-submit .item-lable{
    margin-bottom: 20px;
}
.form-info-lh .item-submit p{
    text-align: center;
}
.form-info-lh .item-submit .btn-submit{
    width: 100%;
    background-color: #C19D68;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    padding: 16px;
    font-weight: 600;
}
.form-info-lh .item-submit .btn-submit:hover{
    background-color: #7E522B;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #C19D68;
}
.drp-buttons .cancelBtn{
    display: none;
}
.daterangepicker .drp-buttons .applyBtn.btn{
    text-transform: uppercase;
    color: #002D4A;
    border-radius: 4px;
    border: 1px solid #002D4A;
    background-color: #fff;
    padding: 16px 81px;
}
.daterangepicker .drp-buttons .applyBtn.btn:hover{
    color: #fff;
    background-color: #002D4A;
}
.form-booking button.btn-submit span{
    display: none;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
}
.back-checkout{
    display: flex;
    align-items: center;
    gap: 5px;
}
.content-template-contact .banner {
    min-height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}
.content-template-contact .banner h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 74px;
    margin: 0;
    font-family: "Red Rose", serif;
    text-transform: uppercase;
}
.content-template-contact .banner h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.content-contact{
    padding: 64px 0 0 0;
}
.content-contact .title1{
    font-family: "Red Rose", serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 16px;
    color: #002D4A;
}
.content-contact .des1{
    font-size: 16px;
    color: #353535;
    line-height: 26px;
    margin-bottom: 16px;
}
.content-contact .title2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #353535;
    margin-bottom: 12px;
}
.list-tt .item{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #353535;
}
.list-tt .item a{
    color: #353535;
}
.content-contact .custom-container{
    display: flex;
    gap: 64px;
}
.content-contact .custom-container .item{
    width: 100%;
}
.title-fo{
    font-family: "Red Rose", serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #002D4A;
    margin-bottom: 24px;
}
.admin-bar #masthead{
    top: 75px;
}
.hotline-booking-success{
    display: flex;
    align-items: center;
    gap: 8px;
}
.list-icon-fixed {
    position: fixed;
    right: 80px;
    bottom: 115px;
    z-index: 999;
}
.list-icon-fixed ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-icon-fixed ul li:first-child {
    margin-bottom: 30px;
}
.list-icon-fixed ul li {
    text-align: center;
}
.quick-alo-ph-circle {
    width: 100px;
    height: 100px;
    top: -28px;
    left: -28px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 5px solid #AC000066;
    opacity: 1;
    -webkit-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

@-moz-keyframes quick-alo-circle-anim {
    0% {
        -moz-transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1
    }

    30% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5
    }

    100% {
        -moz-transform: rotate(0) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1
    }
}

@-webkit-keyframes quick-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }

    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-o-keyframes quick-alo-circle-anim {
    0% {
        -o-transform: rotate(0) kscale(.5) skew(1deg);
        -o-opacity: .1
    }

    30% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        -o-opacity: .5
    }

    100% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        -o-opacity: .1
    }
}

@-moz-keyframes quick-alo-circle-fill-anim {
    0% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes quick-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes quick-alo-circle-fill-anim {
    0% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes quick-alo-circle-img-anim {
    10% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes quick-alo-circle-img-anim {
    0% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
}
.home-review .ti-header-write-btn{
    background-color: transparent;
    color: #002D4A;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    position: relative;
}
.home-review .ti-header-write-btn:after{
    position: absolute;
    content: '';
    right: -35px;
    top: -3px;
    width: 24px;
    height: 24px;
    background-image: url("../icons/icon-cicle-r.svg");
}
.main-navigation ul.menu li a:active,
a.action-yellow-arr-right:active,
#topbar a:active,
.main-navigation ul.menu li a:focus, a.action-yellow-arr-right:focus, #topbar a:focus {
    color: #fff;
}
.content-template-checkout-booking .wpcf7-response-output{
    display: none;
}
.home-review .title{
    font-family: "Red Rose", serif;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 24px;
    text-align: center;
    color: #002D4A;
}
.header-init .site-branding .site-title img, .site-branding .site-title img.logo-color{
    display: none;
}
.header-init .site-branding .site-title img.logo-color{
    display: block;
}